advertise_addr = "{% raw %}{{ GetInterfaceIP \"eno1\" }}{% endraw %}"
bind_addr = "0.0.0.0"
client_addr = "0.0.0.0"
datacenter = "{{ consul_datacenter }}"
data_dir = "/var/lib/consul"
disable_remote_exec = true
disable_update_check = true
enable_syslog = true
retry_join = ["consul.service.consul"]
server = false
ui = false
