consul {
  address = "localhost:8500"
}
data_dir             = "/var/lib/nomad"
datacenter = "{{ nomad_datacenter }}"
disable_update_check = true
enable_syslog        = true
leave_on_interrupt = true
leave_on_terminate = true

telemetry {
  collection_interval = "5s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}
