{
    "address": "{{ ansible_eth0.ipv4.address }}",
    "id": "{{ ansible_hostname }}_node_exporter",
    "name": "node_exporter",
    "port": 9100,
    "check": {
        "deregistercriticalserviceafter": "30m",
        "interval": "10s",
        "timeout": "5s",
        "http": "http://{{ ansible_eth0.ipv4.address }}:9100/metrics",
        "method": "GET",
        "name": "Check /metrics page"
    }
}
