advertise {
  http = "{{ ansible_default_ipv4.address }}"
  rpc  = "{{ ansible_default_ipv4.address }}"
  serf = "{{ ansible_default_ipv4.address }}"
}

server {
  enabled = true
  bootstrap_expect = 3
}

vault {
  address     = "http://vault.service.consul:8200"
  enabled     = true
  token       = "{{ vault_token }}"
}


